body {
    
    background: rgb(148, 199, 203);
}
.cabeza-foto {
	display: flex;
	justify-content: space-between;
	padding: 10px;}

.foto{
	
    background: white;
	width: 640px;
	height: auto;
	margin: auto;
	margin-bottom: 20px;
}
h1{text-align: center;}

img{width: 640px;}




